@model WebApp.Pages.IndexModel

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Lisainformatsioon lehe kohta</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Andmed uuenevad automaatselt iga 24h tunni tagant kell 03:00</p>
                <div class="container justify-content-start">
                    <h2>Hetkel lisatud poed:</h2>
                    <ol>
                        <li>
                            <b>
                                Rimi
                            </b>
                        </li>

                    </ol>
                </div>
                <div class="container">
                    <h2>Roadmap</h2>
                    <ul class="list-unstyled">
                        <li>
                            Lisada rohkem poode
                        </li>
                        <li>
                            Filtreerida erinevate poodide kaudu
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sulge</button>
            </div>
        </div>
    </div>
</div>

